
<h3><%= @idea.id %></h3>
<p>Idea: <%= @idea.body %></p>

<%= link_to "Edit", edit_idea_path(@idea) %>
<%= link_to "Delete", destroy_idea_path(@idea), method: 'delete' %>

<h2>Flickers about this idea?</h2>

<%= form_for(@comment, url: create_comment_path(@idea)) do |f| %>
  <p>
  <%= f.text_area :body, :cols => "50", :rows => "5" %>
  </p>
  <%= f.submit %>
<% end %>


<div>
  <h4>Other Flickers:</h4>
  <% @comments.each do |comment| %>
    <p>
    <%= comment.body %>
    </p>
  <%end %>
</div>

